<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложение необходимо для получения текущего местоположения для прогноза погоды.</string>
	<key>UIAppFonts</key>
	<array>
		<string>lcblowzy_.ttf</string>
		<string>ofont.ru_a_BosaNovaSh.ttf</string>
		<string>ofont.ru_FrankC.ttf</string>
	</array>
</dict>
</plist>
